@using Airborn.web.Models
@{
    ViewData["Title"] = "All aircraft | Airborn.co";
}

@{
    int aircraftCount = Html.GetEnumSelectList<AircraftType>().Count();
}

<br />
<div class="hero-banner">
    <h2>@aircraftCount aircraft available.<br />
        <a asp-controller="Home" asp-action="Calculate">Plan your flight with one.</a>
    </h2>
</div>

<div class="content">

    <ul>
        @foreach (var data in Html.GetEnumSelectList<Airborn.web.Models.AircraftType>())
        {
            Airborn.web.Models.AircraftType aircraftType;
            if (Enum.TryParse<Airborn.web.Models.AircraftType>(data.Value, out aircraftType))
            {
                <li>
                    @Html.ActionLink(data.Text, "Details", "Aircraft", new { aircraftType = aircraftType }, null)
                </li>
            }
        }
    </ul>
</div>>