@using Airborn.web.Models
@model PerformanceCalculationLog

<!-- Modal -->
<div class="modal fade" id="primaryCalculationModal" tabindex="-1" aria-labelledby="airportCalculationModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="airportCalculationModal">Calculations (advanced)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    @foreach (PerformanceCalculationLog.LogItem logline in Model?.LogItems)
                    {
                        @await Html.PartialAsync("_CFIModePrimaryItem", logline)
                    }
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>