@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br /><br />
    <h1 class="display-4">Welcome, Admin</h1>
    <p><a asp-controller="Import" asp-action="UploadContinents">Upload Continents from CSV</a>.</p>
    <p><a asp-controller="Import" asp-action="UploadCountries">Upload Countries from CSV</a>.</p>
    <p><a asp-controller="Import" asp-action="UploadRegions">Upload Regions from CSV</a>.</p>
    <p><a asp-controller="Import" asp-action="UploadAirports">Upload Airports from CSV</a>.</p>
    <p><a asp-controller="Import" asp-action="UploadRunways">Upload Runways from CSV</a>.</p>
</div>
