@model Airborn.web.Models.Continent

@{
    ViewData["Title"] = @Model.ContinentName;
}

<h1>Continent: @Model.ContinentName</h1>

<h2>Countries:</h2>
<ul>
    @foreach (var country in Model.Countries)
    {
        <li><td><a href="@Url.Action("Country", "Airports", new { id = country.Country_Id })">@country.CountryName</a></td></li>
    }
</ul>