@model Airborn.web.Models.Country

@{
    ViewData["Title"] = @Model.CountryName;
}

<h1>Continent: @Model.CountryName</h1>

<h2>Airports:</h2>
<ul>
    @foreach (var airport in Model.Airports)
    {
        <li><td><a href="@Url.Action("Airport", "Airports", new { id = airport.Ident })">@airport.Name</a></td></li>
    }
</ul>