@{
    ViewData["Title"] = "About Airborn.co";
}

<br />

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div class="p-4 bg-light border rounded-3">
            <h2>
                <b><i>Airborn.co</i></b> is a free takeoff and landing distance calculator
            </h2>

            <p class="fs-5">
                Airborn.co is a free, <a href="https://github.com/alexjcampbell/airborn/">open source project</a>,
                that sets out to take the pain out of learning how to do takeoff and landing calculations.

            </p>
        </div>
    </div>
</div>

<br />
<p>This app was motivated by the idea that folks are more likely to actually do takeoff and landing
    calculations
    if there's an app that can quickly do the work for them, rather than digging through the POH and doing
    multiple interpolations.</p>

<p>This is the v0.2 release, which performs basic takeoff and landing distance calculations for every runway at a given
    airport, for a given airplane, in a given set of conditions.</p>
<p>Airport and runway Data is courtesy of the folks at <a href="https://ourairports.com/data/">Our
        Airports</a>.
</p>
<h4>Get in touch</h4>
<p>For more info, you can get in touch with us at <a href="mailto:info@Airborn.co">info AT
        airborn.co</a></p>


<div class="alert alert-warning" role="alert">
    <p class="lead">We advise that this app should only be used for entertainment or simulation purposes.
        For actual
        real-world flights we <i>strongly</i> recommend using ForeFlight's <a
            href="https://foreflight.com/products/performance-plus/" target="_blank">Performance Plus</a> plan.</p>

</div>

