@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>About Airborn.co</h3>
<p>Aiborn.co is an <a href="https://github.com/alexjcampbell/airborn/">open source project</a> that sets out to make planning your flight easier and faster.</p>
<p>This is the v0.01 release, which does basic takeoff and landing calculations.</p>
<p>Future releases will do more!</p>
<p>For more info, you can get in touch with us at info AT airborn.co</p>