@{
    ViewData["Title"] = "Privacy Policy";
}

<h3>About Airborn.co</h3>
<br />
<p>Aiborn.co is an <a href="https://github.com/alexjcampbell/airborn/">open source project</a> 
    that sets out to take the pain out of "on the ground" flight planning.</p>
<p>It is motivated by the idea that folks are more likely to actually do takeoff and landing calculations
if there's an app that can quickly do the work for them, rather than digging through the POH and doing multiple interpolations.</p>    
<p>Nonetheless, we advise that this should only be used for entertainment or simulation purposes, and for actual real-world flights we recommend using ForeFlight's <a href="https://foreflight.com/products/performance-plus/" target="_blank">Performance Plus</a> plan.</p>
<p>This is the v0.01 release, which performs basic takeoff and landing distance calculations.</p>
<p>Future releases will do more!</p>
<p>Airport & Runway Data is courtesy of the folks at <a href="https://ourairports.com/data/">Our Airports</a>.</p>
<p>For more info, you can get in touch with us at info AT airborn.co</p>
