@{
    ViewData["Title"] = "About Airborn.co";
}

<br />
<div class="hero-banner">
    <h2>Flight planning for general aviation pilots.</h2>
</div>

<div class="content">
    <p>Airborn.co is a free, open source project that aims to make learning and performing takeoff and landing
        calculations painless. This app was created to encourage pilots to actually do these calculations by providing a
        fast and user-friendly tool, eliminating the need to sift through the POH and perform multiple interpolations.
    </p>

    <p>With Airborn.co, you can easily perform basic takeoff and landing distance calculations for every runway at a
        given airport, for a given airplane, under various conditions. It's an educational, entertainment, and
        simulation tool that we strongly recommend for enhancing your flight planning experience.</p>

    <h5>How it works</h5>
    <ul>
        <li>Digitized data from Pilot's Operating Handbooks on takeoff and landing performance, converted into JSON
            format.</li>
        <li>Enter your airport, airplane, and takeoff weight details.</li>
        <li>Automatic METAR fetch for wind direction, strength, temperature, and altimeter settings. Manual input if
            needed.</li>
        <li>Calculate takeoff and landing distances for every runway, considering specific airplane conditions and
            weight.</li>
    </ul>

    <h5>Credits</h5>
    <ul>
        <li>Airport and runway data courtesy of <a href="https://ourairports.com/data/">Our Airports</a>.</li>
        <li>Magnetic variation calculations by the <a href="https://geomag.bgs.ac.uk/operations/uksurvey.html">British
                Geological Survey</a>.</li>
        <li>Hosting provided by <a href="https://www.heroku.com">Heroku</a>.</li>
    </ul>

    <h4>Contact Us</h4>
    <p>For more information, reach out to us at <a href="mailto:info@airborn.co">info@airborn.co</a>.</p>
</div>

<br />
<br />